/* ===== LAYOUT ===== */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ===== CARDS GRID ===== */
.cards_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  width: 100%;
  justify-items: center;
}

/* ===== 반응형 디자인 ===== */
@media (min-width: 960px) {
  .cards_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1208px) {
  .cards_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


