
@charset "UTF-8";
@import "font.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, form, select, textarea, a,
button, main {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
    background-color: transparent;
}

a:active, a:link, a:visited {
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
}

input, textarea, select {background-color: #fff;}

ul, ol {
    list-style: none;
}

html {position: relative;min-height: 100%;}
body {
    font-size: 14px;
    font-family: primary, sans-serif;
    line-height: 1.5;
    letter-spacing: -0.05em;
    min-height: 100%;
    color: #000;
}

a, a:active, a:link, a:visited, strong, b {color: inherit}

strong, b, h1, h2, h3, h4, h5, h6, th {font-family: primaryBold;font-weight: normal;}

.sr_only {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* required */
.required {
    color: #F60101;
}